@media screen and (min-width: 501px) {
  .cert-area {
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--background-color);
    padding: 5vh 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
  }

  .cert-area .flex-wrap {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 5vh;
  }

  .cert-area .flex-wrap .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;

    box-sizing: border-box;
    background-color: var(--container-color);
  }
  .cert-area .content div {
    position: relative;
    display: flex;
    width: 50%;
    flex-direction: column;
  }

  .cert-area .content .left {
    background-size: cover;
    width: 70%;
    background-position: top center;
  }

  .cert-area .content .right {
    position: relative;
    background-color: var(
      --container-color
    ); /* Set the background color of the rectangle */
  }

  .cert-area .content .right::before {
    content: "";
    position: absolute;
    top: 0;
    left: -150px; /* Negative value equal to border-left width */
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-bottom: 400px solid var(--container-color); /* Height of the triangle and color */
  }
  .cert-area .content .right .right-text {
    width: 100%;
    text-align: right;
    padding: 50px;
  }
  .cert-area .content .right .right-text h1 {
    font-size: var(--h1-font-size);
    margin: 50px 20px;
  }
  .cert-area .content .right .right-text p {
    margin: 20px;
  }
}

/*mobile view*/
@media screen and (max-width: 1024px) {
  .cert-area {
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--background-color);
    padding: 5vh 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
  }

  .cert-area .flex-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 5vh;
  }

  .cert-area .flex-wrap .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: var(--container-color);
    justify-content: center;
  }
  .cert-area .content div {
    position: relative;
    display: flex;
    width: 50%;
    flex-direction: column;
  }

  .cert-area .content .left {
    background-size: cover;
    width: 70%;
    height: 300px;
    background-position: top center;
  }

  .cert-area .content .right {
    position: relative;
    background-color: var(
      --container-color
    ); /* Set the background color of the rectangle */
  }

  .cert-area .content .right::before {
    display: none;
  }
  .cert-area .content .right .right-text {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
  }
  .cert-area .content .right .right-text h1 {
    font-size: var(--h1-font-size);
    text-align: center;

    margin: 50px 20px;
  }
  .cert-area .content .right .right-text p {
    margin: 20px;
  }
}
