.navbar {
  padding: 0 20px;
  background-color: var(--container-color);
  display: flex;
  min-height: 10vh;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-weight: var(--font-bold);
  display: flex;
  flex-direction: row;
}

.navbar .logo .left,
.navbar .logo .right {
  width: 50px;
  border: 5px solid black;
  padding: 10px;
  text-align: center;
  color: white;
}

.navbar .logo .right {
  border-radius: 10px 30px;
}
.navbar .logo span.with-line {
  content: "";
  height: 10px;
  width: 5px;
  display: block;
  border-bottom: 10px solid white;
  margin: 20% 0;
}

.navbar .logo .left {
  border-radius: 30px 10px;
}
.navbar .links {
  display: flex;
}

.navbar .links p {
  margin: 10px;
}

.navbar .links a {
  text-decoration: none;
  color: var(--title-color);
}

.navbar button {
  text-align: center;
  font-weight: var(--font-bold);
  background-color: transparent;
  border: 1px solid white;
  color: var(--text-color);
  height: 2.5rem;
  padding: 5px;
  border-radius: 20px;
}
