@media screen and (min-width: 501px) {
  .navbar {
    padding: 0 20px;
    background-color: var(--container-color);
    display: flex;
    min-height: 10vh;
    align-items: center;
    justify-content: space-between;
  }

  .navbar .logo {
    font-weight: var(--font-bold);
    display: flex;
    flex-direction: row;
  }

  .navbar .logo .left,
  .navbar .logo .right {
    width: 50px;
    border: 5px solid black;
    padding: 10px;
    text-align: center;
    color: white;
  }

  .navbar .logo .right {
    border-radius: 10px 30px;
  }
  .navbar .logo span.with-line {
    content: "";
    height: 10px;
    width: 5px;
    display: block;
    border-bottom: 10px solid white;
    margin: 20% 0;
  }

  .navbar .logo .left {
    border-radius: 30px 10px;
  }
  .navbar .links {
    display: flex;
  }

  .navbar .links p {
    margin: 10px;
  }
  .navbar .links a:nth-child(4) {
    display: none;
  }

  .navbar .links a {
    text-decoration: none;
    color: var(--title-color);
  }
  .navbar .links a:hover {
    color: cyan;
  }

  .navbar button {
    text-align: center;
    font-weight: var(--font-bold);
    background-color: transparent;
    border: 1px solid white;
    color: var(--text-color);
    height: 2.5rem;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
  }
  .navbar .toggler {
    display: none;
  }
  .navbar button:hover {
    border: 1px dotted cyan;
    color: cyan;
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    padding: 0 20px;
    background-color: var(--container-color);
    display: flex;
    min-height: 10vh;
    align-items: center;
    justify-content: space-between;
  }

  .navbar .logo {
    font-weight: var(--font-bold);
    display: flex;
    flex-direction: row;
  }

  .navbar .logo .left,
  .navbar .logo .right {
    width: 50px;
    border: 5px solid black;
    padding: 10px;
    text-align: center;
    color: white;
  }

  .navbar .logo .right {
    border-radius: 10px 30px;
  }
  .navbar .logo span.with-line {
    content: "";
    height: 10px;
    width: 5px;
    display: block;
    border-bottom: 10px solid white;
    margin: 20% 0;
  }

  .navbar .logo .left {
    border-radius: 30px 10px;
  }
  .navbar .links a {
    text-decoration: none;
    color: var(--title-color);
  }
  .navbar .links {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10vh;
    z-index: 100;
    background-color: var(--background-color);
    width: 100%;
    text-align: center;
    border-bottom: 10px solid black;
  }
  .navbar .links p {
    margin: 10px;
  }
  .navbar .links p:hover {
    background-color: var(--container-color);
    margin: 10px;
  }
  .navbar button {
    text-align: center;
    font-weight: var(--font-bold);
    background-color: transparent;
    border: 1px solid white;
    color: var(--text-color);
    height: 2.5rem;
    padding: 5px;
    border-radius: 20px;
    display: none;
  }
  .navbar .toggler {
    display: block;
  }
  .navbar .toggler:hover {
    border: 1px dotted cyan;
    color: cyan;
    display: block;
  }
  .navbar .links.mobile {
    display: block;
  }
}
